# Node modules
node_modules/
package-lock.json

# dotenv environment variables file
.env

# Miscellaneous
.DS_Store
Thumbs.db

# Build directories
build/
dist/
tmp/
temp/

# Test coverage directory
coverage/

# Logs
logs/
*.log
npm-debug.log*
