@tailwind base;
@tailwind components;
@tailwind utilities;
/* To fix “Unknown at rule @tailwind” warning, start by installing Tailwind CSS IntelliSense plugin.
When that is done, you need to associate your CSS file with Tailwind CSS in VS Code.
Open the CSS file where you import Tailwind CSS - Press Shift + P and search for “change language mode”
Change language setting in VSCode - Inside the search bar, type “tailwindcss” and select it.*/

:root {
  --foreground: #000;
  --background: #ddd;
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 3rem;
  color: green;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-weight: 600;
  font-size: 1rem;
}

button,
input,
select {
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 5px;
  min-width: 100px;
  margin: 5px;
}
